
// FARBEN
$ct-primary: #262F3B;

// Grautöne
$gray-1: #f7f7f7;
$gray-2: #ddd;
$gray-3: #919191;
$gray-4: #333;

// SCHRIFT
$headings-font:     'Open Sans', sans-serif;
$text-font:         'Lato', sans-serif;

$base-font-size:    16px;
$base-font-color:   $gray-4;
