body, div, section, p,
h1, h2, h3, h4, h5, h6,
input, button {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, #blog-title {
	font-family: $headings-font;
	font-weight: 300;

  a {
    font-family: $headings-font;
  	font-weight: 300;
    text-decoration: none;
    color: $base-font-color;
  }
}

div, main, section, form, input, textarea {
   box-sizing: border-box;
}

body {
	background-color: $gray-1;
	font-family: $text-font;
	color: $base-font-color;

	p {
		line-height: 1.75;
		font-size: $base-font-size;
	}

   main {
      h1, h2, h3, h4, h5, h6, p {
         margin-bottom: 10px;
      }
   }
}

ul {
	li {
		list-style-type: square;
	}
}
