
/* Table of content
 * 1) navigation
 * 2) header
 * ...
 */

// TODO:
// - Layoutbreite auslagern (var o.a.)


nav#main_nav {
   display: none;
   padding-bottom: 32px; // Hält Platz für den Pfeil

    ul {
      margin: 10px 0;
      // Rechts und links über padding,
      // damit beim Scrollen kein Rand zusehen ist
      padding: 0 10px;
      display: flex;
      overflow-x: scroll;
      overflow-y: hidden;

      // Es soll zwar gescrollt werden in x-Richtung, aber die
      // browser-eigenen Scrollbars sollen nicht angezeigt werden.
      -ms-overflow-style: none;  // IE 10+
      overflow: -moz-scrollbars-none;  // Firefox

      &::-webkit-scrollbar {
         display: none;  // Safari, Chrome und Opera
      }

      // Die einzelnen Menuitems
      li.menu-item {
         flex-shrink: 0;

         display: inline-block;
         border: 1px solid $gray-2;
      	border-radius: 4px;
      	background-color: white;
         margin: 5px;
         padding: 5px 6px;
         width: 180px;
         height: 120px;

         a {
            display: block;
            height: 100%;
            // padding ist auf a und li aufgeteilt,
            // damit es beim hovern einen schönen
            // Effekt gibt
            padding: 5px 6px;
            box-sizing: border-box;

            text-decoration: none;
            color: $gray-4;

            &:hover {
               border-radius: 2px;
               //background-color: $gray-2;
               background-color: rgba(128, 153, 81, 0.2);
            }
         }

         // So wird auch nach dem letzten
         // Element in der Liste ein Abstand angezeigt.
         // Außerdem versteckt sich dort ein kleiner
         // Smiley ...
         &:last-of-type {
            &::after {
               content: '☺';
               position: relative;
               top: -8px;
               left: 200px;
               margin-right: 5px;
               color: $gray-3;
            }
         }
      }

      li.current-menu-item {
         background-image: repeating-linear-gradient(45deg,
                                white 0%,
                                white 4%, $gray-1 4%,
                                $gray-1 8%, white 8%);
      }
   }

   // TODO: Pfeile verstecken für mobile Geräte
   // und dabei das Padding der nav#main_nav rausnehmen
   %nav-arrows-shared {
      position: absolute;
      width: 20px;
      height: 20px;
      cursor: pointer;
      opacity: 0.6;
   }

   .nav-arrow-right {
      @extend %nav-arrows-shared;
      right: 10px;
   }

   .nav-arrow-left {
      @extend %nav-arrows-shared;
      left: 10px;
      // Soll zunächst nicht angezeigt werden.
      // Wird von Javascript eingeblendet, wenn
      // nach links gescrollt werden kann.
      display: none;
   }
}

/******************
 *     Header     *
 ******************/
header {
  position: relative;
  height: 200px;

  #blog-title {
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     display: block;
     width: 100%;
     text-align: center;

     a {
       font-size: 45px;
       color: $gray-3;

       &:hover {
         color: $gray-4;
       }
     }
   }
}

%top-banner-shared {
	height: 40px;
	width: auto;
}

div.top-banner {
	//position: fixed;
   background-color: $ct-primary;
	width: 100%;
	height: 60px;
	padding: 10px;
	color: #FFF;

	#blog-logo {
		@extend %top-banner-shared;
      float: left;
	}

	#menu-btn {
		@extend %top-banner-shared;
		float: right;
		cursor: pointer;
	}

   div.ct-search-container {
      float: right;
      height: 100%;
      margin-left: 10px;

      form {
         border: 1px solid $gray-2;
         border-radius: 3px;
         background-color: $gray-1;
         float: left;
         position: relative;
         top: 50%;
         transform: translateY(-50%);
         padding: 4px 8px;

         %ct-search-shared {
            float: left;
            border: none;
            background-color: $gray-1;
            height: 28px;
         }

         input {
            @extend %ct-search-shared;
            margin-right: 8px;
         }

         button {
            @extend %ct-search-shared;
            cursor: pointer;

            img {
               margin-bottom: -2px;
            }
         }
      }
   }
}

/******************
 *      Main      *
 ******************/
main {
   border: 1px solid $gray-2;
	border-radius: 4px;
	background-color: white;
	width: 80%;
   max-width: $base-layout-width;
	margin: 0 auto 40px auto;
	padding: 40px 90px;

   @include screensize-down(s) {
      width: 100%;
      padding: 10px 15px;
      border-radius: 0;
   }
}

%blogpost-base {
   padding: 30px 0;

   h2 {
      margin-bottom: 10px;
      font-size: 30px;
   }

   img.thumbnail {
      background-color: $gray-2;
      border: 1px solid $gray-2;
      border-radius: 2px;
      margin-bottom: 10px;

      height: auto;
      width: 100%;
   }

   p {
      margin-bottom: 10px;
   }

   div.blogpost-meta {
      float: right;
      color: $gray-2;

      @include screensize-down(s) {
         font-size: 14px;
      }

      a {
        color: $gray-2;
        text-decoration: none;

        &:hover {
          color: $gray-3;
        }
      }
   }
}

section.blogpost-list {

	article.blogpost {
		@extend %blogpost-base;
      border-bottom: 1px solid $gray-2;

		a.more-link {
         display: inline-block;
			margin-top: 8px;
			color: $gray-3;
			text-decoration: none;
		}
	}
}

nav.pagination {
   ul.page-numbers {
      margin: 40px 0 0 0;
      padding: 0;
      text-align: center;
      font-size: 18px;

      li {
         display: inline-block;
         list-style-type: none;
         margin: 4px;

         a {
            text-decoration: none;
            color: $gray-4;

            &:hover {
               color: black;
            }
         }
      }

      li > span.current, li > span.dots {
         color: $gray-3;
      }
   }
}

/******************
 *     Single     *
 ******************/
article.blogpost {
   @extend %blogpost-base;
   position: relative;

   span.post-date {
      position: absolute;
      top: -5px;
      font-size: 18px;
      color: $gray-2;
      opacity: 0.5;
      transition: 0.4s;

      @include screensize-down(s) {
         top: 6px;
      }

      &:hover {
         opacity: 1;
      }
   }
}

// Kommentare
div.comment-respond {
   clear: both;

   form {

      p {
         line-height: 20px;
      }

      label {
         display: block;
         margin-top: 10px;
      }

      %base-input {
         border: 1px solid $gray-2;
         border-radius: 3px;
         padding: 4px 8px;
         width: 400px;
         max-width: 100%;
      }

      input[type=text] {
         @extend %base-input;
      }

       textarea {
          @extend %base-input;
       }

      input[type=submit] {
         @extend %base-input;
         background-color: $gray-2;
         margin-top: 16px;
         cursor: pointer;
      }
   }
}

/******************
 *     Footer     *
 ******************/
%footer-a {
   color: $gray-4;
   text-decoration: none;

   &:hover {
      text-decoration: underline;
   }
}

footer {
	max-width: $base-layout-width;
   width: 80%; // -> wrapper?
	margin: 0 auto;

	section.main-footer {
		display: flex;
      flex-wrap: wrap;
		padding: 0 10px;
		color: $gray-3;

      @include screensize-up(m) {
         padding: 0 30px;
      }

		.left-footer, .right-footer {
         flex-shrink: 0;
         flex-grow: 1;
         width: 50%;
         min-width: 200px;

         > ul {
            padding: 0;
            margin: 0 10px;

            li.widget-container {
               padding: 20px 0;
               list-style-type: none;

               div.widget-title {
                  margin-bottom: 10px;
               }

               a {
                  @extend %footer-a;
               }
            }
         }
		}

		.left-footer {
         @include screensize-up(m) {
            border-right: 1px solid $gray-2;
         }
		}
	}

	section.footer-bottom {
      border-top: 1px solid $gray-2;
		margin-top: 20px;
      padding-top: 20px;
		text-align: center;

		p, span, li {
			font-size: 12px;
			color: $gray-3;
		}

      a {
         @extend %footer-a;
      }

      span.themeinfo {
         padding: 10px;
      }

      div.menu > ul {
         margin: 0;
         padding: 0;

         li {
            display: inline-block;
            margin: 0 2px;
         }
      }
	}
}
