
/* Table of content
 * 1) navigation
 * 2) header
 * ...
 */

// TODO:
// - Layoutbreite auslagern (var o.a.)


nav#main_nav {
    display: none;

    ul {
      margin: 10px 0;
      // Rechts und links über padding,
      // damit beim Scrollen kein Rand zusehen ist
      padding: 0 10px;
      display: flex;
      overflow-x: scroll;

      // Es soll zwar gescrollt werden in x-Richtung, aber die
      // browser-eigenen Scrollbars sollen nicht angezeigt werden.
      -ms-overflow-style: none;  // IE 10+
      overflow: -moz-scrollbars-none;  // Firefox

      &::-webkit-scrollbar {
         display: none;  // Safari, Chrome und Opera
      }

      // Die einzelnen Menuitems
      li.menu-item {
         flex-shrink: 0;

         display: inline-block;
         border: 1px solid $gray-2;
      	border-radius: 4px;
      	background-color: white;
         margin: 5px;
         padding: 5px 6px;
         width: 180px;
         height: 120px;

         a {
            display: block;
            height: 100%;
            // padding ist auf a und li aufgeteilt,
            // damit es beim hovern einen schönen
            // Effekt gibt
            padding: 5px 6px;
            box-sizing: border-box;

            text-decoration: none;
            color: $gray-4;

            &:hover {
               border-radius: 2px;
               background-color: $gray-2;
            }
         }

         // So wird auch nach dem letzten
         // Element in der Liste ein Abstand angezeigt.
         // Außerdem versteckt sich dort ein kleiner
         // Smiley ...
         &:last-of-type {
            &::after {
               content: '☺';
               position: relative;
               top: -8px;
               left: 200px;
               margin-right: 5px;
               color: $gray-3;
            }
         }
      }

      li.current-menu-item {
         background-image: repeating-linear-gradient(45deg,
                                white 0%,
                                white 4%, $gray-1 4%,
                                $gray-1 8%, white 8%);
      }
   }
}

/******************
 *     Header     *
 ******************/
header {
  position: relative;
  height: 200px;

  #blog-title {
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     display: block;
     width: 100%;
     text-align: center;

     a {
       font-size: 45px;
       color: $gray-3;

       &:hover {
         color: $gray-4;
       }
     }
   }
}

%top-banner-shared {
	height: 40px;
	width: auto;
}

div.top-banner {
	//position: fixed;
   background-color: $ct-primary;
	width: 100%;
	height: 60px;
	padding: 10px;
	color: #FFF;

	#blog-logo {
		@extend %top-banner-shared;
      float: left;
	}

	#menu-btn {
		@extend %top-banner-shared;
		float: right;
		cursor: pointer;
	}

   div.ct-search-container {
      float: right;
      height: 100%;
      margin-left: 10px;

      form {
         border: 1px solid $gray-2;
         border-radius: 3px;
         background-color: $gray-1;
         float: left;
         position: relative;
         top: 50%;
         transform: translateY(-50%);
         padding: 4px 8px;

         %ct-search-shared {
            float: left;
            border: none;
            background-color: $gray-1;
            height: 28px;
         }

         input {
            @extend %ct-search-shared;
            margin-right: 8px;
         }

         button {
            @extend %ct-search-shared;
            cursor: pointer;

            img {
               margin-bottom: -2px;
            }
         }
      }
   }
}

/******************
 *      Main      *
 ******************/
main {
	width: 100%;
}

section.blogpost-list {
	border: 1px solid $gray-2;
	border-radius: 4px;
	background-color: white;
	max-width: 800px;
	width: 80%;
	min-height: 800px;
	margin: 0 auto 40px auto;
	padding: 40px 90px;

	article.blogpost {
		padding: 30px 0;
		border-bottom: 1px solid $gray-2;

		h2 {
			margin-bottom: 10px;
			font-size: 30px;
		}

		img.thumbnail {
			background-color: $gray-2;
			border: 1px solid $gray-2;
			border-radius: 2px;
			margin-bottom: 10px;

			height: auto;
			width: 100%;
		}

		p {
			margin-bottom: 10px;
		}

		a.more-link {
         display: inline-block;
			margin-top: 8px;
			color: $gray-3;
			text-decoration: none;
		}

		div.blogpost-meta {
			float: right;
			color: $gray-2;

         a {
           color: $gray-2;
           text-decoration: none;

           &:hover {
             color: $gray-3;
           }
         }
		}
	}
}

nav.pagination {
   ul.page-numbers {
      margin: 40px 0 0 0;
      padding: 0;
      text-align: center;
      font-size: 18px;

      li {
         display: inline-block;
         list-style-type: none;
         margin: 4px;

         a {
            text-decoration: none;
            color: $gray-4;

            &:hover {
               color: black;
            }
         }
      }

      li > span.current, li > span.dots {
         color: $gray-3;
      }
   }
}

/******************
 *     Footer     *
 ******************/
footer {
	width: 800px;
	margin: 0 auto;

	section.main-footer {
		display: flex;
		padding: 0 30px;
		color: $gray-3;

		.left-footer, .right-footer {
			min-height: 100px;
			width: 50%;
		}

		.left-footer {
			border-right: 1px solid $gray-2;
		}
	}

	section.footer-bottom {
		margin-top: 20px;
		text-align: center;

		p {
			font-size: 12px;
			color: $gray-3;
		}
	}
}
