
// FARBEN
$ct-primary: #262F3B;

// Grautöne
$gray-1: #f7f7f7;
$gray-2: #ddd;
$gray-3: #919191;
$gray-4: #333;

// Alerts
$default-alert: #ADD8E6; // Hellblau
$error:         #FFB6C1; // Sehr helles Rot

// SCHRIFT
$headings-font:     'Open Sans', sans-serif;
$text-font:         'Lato', sans-serif;

$base-font-size:    16px;
$base-font-color:   $gray-4;

// PIXELANGABEN
$base-layout-width: 800px;

// BREAKPOINTS
$breakpoints: (
   xs: 320px,
   s:  425px,
   m:  768px,
   l:  1024px,
   xl: 1440px
);
